.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.posts{
    height: 93%;
    overflow: auto;
}
.loader{
    margin: 100px auto;
    display: block;
}

.downloadMoreButton{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}